<style>
div.container {
    width: 100%;
    border: 0px solid #2D4674;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #416F8C;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid #2D4674;
    padding: 1em;
    overflow: hidden;
}

img{

    height: 200px;
    width: 450px;
    box-shadow: rgba(0,0,0,0.2) 10px 10px;

}
</style>